
<form action="/gossips/create" method="POST">
<div class="mb-3 d-flex justify-content-center">
<p>Titre
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
  <input type="text" name="title" required="required"></p>
  </div>
  <p class="d-flex justify-content-center" >Contenu</p>
  <p class="d-flex justify-content-center">
  <textarea id="content" name="content" rows="10" cols="70"></textarea>
  </p>
  <p class="d-flex justify-content-center">
  <input type="submit" value="Valider">
  </p>
</form>
